*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ========================================================== */

body {
    background-image: linear-gradient(120deg, #6abe21 0%, #7bd636 100% );
    height: 100vh;
    margin: 0;
}
/* ============================= */
header {
    text-align: center;
    padding: 20px;
}
header h1 {
    font-size: 100px;
    color: rgb(73, 180, 43);
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button {
    background-color: #ffff;
    border: none;
    font-size: 35px;
    padding: 8px;
    outline: 0;
}
form button {
    background-color: #fff;
    color: rgb(73, 180, 43);
    cursor: pointer;
}
form button:hover {
    background-color: rgb(73, 180, 43);
    color: #fff;
    transition: all .4s;
}
.filter-todo {
    padding: 1.2rem;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select {
    width: 12rem;
    cursor: pointer;
    color: rgb(73, 180, 43);
    outline: 0;
}
.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2rem;
    background-color: rgb(73, 180, 43);
    color: #fff;
    cursor: pointer;
    pointer-events: none;
}


.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.todo li {
    flex: 1;
  }

.todo-item {
    padding: 0rem 0.5rem;
}

.trash-btn, .complete-btn {
    background-color: rgb(255, 72, 0);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: rgb(73, 180, 43);
}

.fa-trash,
  .fa-check {
    pointer-events: none;
  }

.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
/* ================================================ */


/* ====@media====== */

@media (max-width: 850px) {
    header h1 {
        font-size: 50px;
        margin-top: 40px;
    }
    form input, form button {
        font-size: 15px;
    }
    .filter-todo {
        padding: 0.6rem;
    }
    .select:after {
        padding: 0.6rem;
    }
    select {
        width: 8rem;
    }
}
@media (max-width: 500px) {
    header h1 {
        font-size: 30px;
    }
    form input, form button {
        font-size: 10px;
    }
    .filter-todo {
        padding: 0.4rem;
    }
    .select:after {
        padding: 0.4rem;
    }
    select {
        width: 6rem;
    }
    .todo {
        font-size: 0.8rem;
    }
    .trash-btn, .complete-btn {
        padding: 0.4rem;
    }
}
@media (max-width: 320px) {
    form input, form button {
        font-size: 6px;
    }
    .filter-todo {
        padding: 0.2rem;
    }
    .select:after {
        padding: 0.2rem;
    }
    select {
        width: 4rem;
    }
    .todo {
        font-size: 0.6rem;
    }
    .trash-btn, .complete-btn {
        padding: 0.2rem;
    }
}